.genericTransactionField label {
  display: grid;
  grid-template-columns: 200px 2fr 0.25fr;
  gap: 10px;
}

.genericTransactionField.txnDate {
  grid-column: auto / span 2;
}

.genericTransactionField .genericTransactionInput input {
  height: 100%;
}

.genericLineItemField .genericLineItemInput input {
  width: calc(100% - 12px);
  height: 28px;
}

.genericTransactionField .genericTransactionInput input:focus,
.genericLineItemField .genericLineItemInput input:focus {
  box-shadow: 2px 2px 2px 1px #cccccd;
}

.genericTransactionField .genericTransactionInput input,
.genericLineItemField .genericLineItemInput input {
  padding: 1px 6px;
  font-size: 18px;
  color: #393a3d;
  border: 0;
  border-radius: 5px;
  box-shadow: -1px 1px 0px 1px #cccccd;
  background-color: #fff;
}

.genericTransactionField .txnDate input {
  max-width: 124px;
}
